pkgbase = CoreFreq
	pkgdesc = Processor Core Monitoring
	pkgver = 1.0.0
	pkgrel = 1
	url = http://github.com/cyring/CoreFreq
	install = intelfreq.install
	arch = x86_64
	license = GPL2
	makedepends = git
	makedepends = linux-headers
	source = git+https://github.com/cyring/CoreFreq.git
	md5sums = SKIP

pkgname = corefreq
	pkgdesc = IntelFreq kernel module sources
	depends = dkms
	depends = gcc
	depends = make

