# CoreFreq
# Copyright (C) 2015-2017 CYRIL INGENIERIE
# Licenses: GPL2

[Unit]
Description=CoreFreq Daemon

[Service]
Type=simple
ExecStart=/usr/bin/corefreqd
ExecStop=/bin/kill -QUIT $MAINPID
RemainAfterExit=no
SuccessExitStatus=SIGQUIT SIGUSR1 SIGTERM

[Install]
WantedBy=multi-user.target
