# CoreFreq
# Copyright (C) 2015-2025 CYRIL COURTIAT
# Licenses: GPL2

[Unit]
Description=CoreFreq Daemon

[Service]
Type=simple
ExecStart=corefreqd -q
ExecStop=/bin/kill -QUIT $MAINPID
RemainAfterExit=no
SuccessExitStatus=SIGQUIT SIGUSR1 SIGTERM
Slice=-.slice

[Install]
WantedBy=multi-user.target
